<ion-view title="Beacon Admin" id="page12">
  <ion-content padding="true" style="background: url(img/CF3V9VetQf6bldrQSIrv_UI20Day.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="beaconAdmin-card12">
      <div class="item item-body">
        <button id="beaconAdmin-button12" style="font-size:14px;" class="button button-positive button-small button-block">Push All status to server</button>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
          <img src="img/1JmN3QJwQnuMlNFiIMyZ_floor_plan_Sample_01.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <div class="item item-divider"> Click on Beacons (Red) to show info</div>
    </div>
    <ion-list id="beaconAdmin-list12">
      <ion-item class="item-thumbnail-left">
        <img src="img/Pm7zHM1SRq1b2szbw5Vb_Jami3_Clock_01.png">
        <h2>Beacon 1</h2>
        <p>Battery Level
          <br>Beacon Name
          <br>UUID</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>