<ion-view title="Location " id="page9">
  <ion-content padding="true" style="background: url(img/igOXCQXZTJiWXEt8kvO4_UI20Day.png) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="location-list5">
      <ion-item class="item-thumbnail-left">
        <img src="img/fnj9InFOTLi5oJU4533K_Mosque_Logo_1.png">
        <h2>Farwaniya Mosque</h2>
        <p>Imam: Hassan Shawki
          <b></b>
        </p>
      </ion-item>
      <label class="item item-input" id="location-input8">
        <span class="input-label"> Minutes to Athan 05:00</span>
        <input type="text" placeholder="">
      </label>
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="location-toggle9">Device Muted</ion-toggle>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 182px;"></div>
    <a ui-sref="ministryOfAwqaf()" id="location-button11" style="font-weight:600;" class="button button-positive button-small button-block icon ion-android-home"> Home</a>
  </ion-content>
</ion-view>