<ion-view title="Ministry of Awqaf" id="page5" style="background-color:#49A1D6;">
  <ion-content padding="true" style="background: url(img/K7pXpGtTQxChA9NnbPAK_UI20Day.png) no-repeat center;background-size:cover;" scroll="false" class="has-header">
    <ion-list id="ministryOfAwqaf-list13">
      <ion-item class="item-avatar dark" id="ministryOfAwqaf-list-item14" ui-sref="news()">
        <img src="img/6S2Eh7vdTve2hzmYp4sz_Awqaf_Logo_1.png">
        <h2dark>Foundation News
          <p style="white-space:normal;">
            <marquee scrolldelay="400" behavior="scroll" direction="up" style="height:30px;">Awqaf News goes here</marquee>
          </p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 6px;"></div>
    <ion-list id="ministryOfAwqaf-list10">
      <ion-item class="item-thumbnail-left item-icon-right dark" id="ministryOfAwqaf-list-item18" ui-sref="prayerTimes()">
        <img src="img/YKFr2ohT3KNFjfFftvgz_calender-icon-blue-18.png">
        <h2dark>Prayer Times
          <p>Saturday 3,Sep 2016
            <br> Next is
            <b>Asr</b>
            <br>11:55 AM</p>
          <i class="icon ion-android-alarm-clock"></i>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <ion-list id="ministryOfAwqaf-list11">
      <ion-item class="item-thumbnail-left item-icon-right dark" id="ministryOfAwqaf-list-item20" ui-sref="nearByMosques()">
        <img src="img/Alu19BclSeWTSPYMupcp_Mosque_Logo_1.png">
        <h2dark>Nearby
          <p>
            <font size="2">Salmia #1@600 Mtr
              <br> Salmia #2 1.2KM</font>
          </p>
          <i class="icon ion-android-locate"></i>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 7px;"></div>
    <ion-list id="ministryOfAwqaf-list6">
      <ion-item class="item-thumbnail-left item-icon-right" id="ministryOfAwqaf-list-item9" ui-sref="location()">
        <img src="img/D1EZ5WLyQaqIdiwNbu4z_Salat_icon175x175.png">
        <h2>You Are @</h2>
        <p>Salmia Mosque #1
          <br>
          <b>Phone muted</b>
        </p>
        <i class="icon ion-android-microphone-off"></i>
      </ion-item>
    </ion-list>
    <div>
      <img src="img/gX0OP128RduHNvlofqvw_Buzz_Logo_02png.png" style="display:block;width:10%;height:auto;">
    </div>
  </ion-content>
</ion-view>