<ion-view title="News Details" id="page14">
  <ion-content padding="true" style="background: url(img/BaJnW8HHSmLYOEsV5zZy_UI20Night.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="newsDetails-card22">
      <ion-item class="item-icon-left" id="newsDetails-list-item25">
        <i class="icon ion-ios-list-outline"></i>The Grand Mosque</ion-item>
      <div class=" item item-image">
        <img src="img/3TNHhfKfT7RhyhN52fsp_thegrand.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div id="newsDetails-markdown4" class="show-list-numbers-and-dots">
        <p style="color:#000000;">The Grand Mosque of Kuwait is an architectural masterpiece of Islamic art, resembles Andalusian architecture, on an area of ​​45 thousand square meters. The construction on the mosque started in1979, and it was completed and inaugurated in 1986,
          in the era of the late Amir Sheikh Jaber Al-Ahmad, May Allah be merciful to him.</p>
      </div>
    </div>
  </ion-content>
</ion-view>