<ion-view title="News" id="page11">
  <ion-content padding="true" style="background: url(img/dejkpUDRGOoLJ5ivSnmk_UI20Day.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="news-list8">
      <ion-item class="item-icon-left dark" id="news-list-item15" ui-sref="newsDetails()">
        <i class="icon ion-android-textsms"></i>The Grand Mosque
        <br>
        <i style="font-size:12px">The Grand Mosque of Kuwait is an architectural masterpiece</i>
      </ion-item>
      <ion-item class="item-icon-left dark" id="news-list-item27">
        <i class="icon ion-android-textsms"></i>News 2
        <br>
        <i style="font-size:12px">The Grand Mosque of Kuwait is an architectural masterpiece</i>
      </ion-item>
      <ion-item class="item-icon-left dark" id="news-list-item28">
        <i class="icon ion-android-textsms"></i>News 3
        <br>
        <i style="font-size:12px">The Grand Mosque of Kuwait is an architectural masterpiece</i>
      </ion-item>
      <ion-item class="item-icon-left dark" id="news-list-item29">
        <i class="icon ion-android-textsms"></i>News 4
        <br>
        <i style="font-size:12px">The Grand Mosque of Kuwait is an architectural masterpiece</i>
      </ion-item>
      <ion-item class="item-icon-left dark" id="news-list-item30">
        <i class="icon ion-android-textsms"></i>News 5
        <br>
        <i style="font-size:12px">The Grand Mosque of Kuwait is an architectural masterpiece</i>
      </ion-item>
    </ion-list>
    <button id="news-button20" style="font-weight:600;text-align:right;" class="button button-positive button-icon icon-right ion-arrow-right-a">Next</button>
  </ion-content>
</ion-view>