<ion-view title="Prayer Times" id="page13">
  <ion-content padding="true" style="background: url(img/8YQS2hdiThqhC385GzYT_UI20Day.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="prayerTimes-card23">
      <ion-item class="item-icon-left" id="prayerTimes-list-item31">
        <i class="icon ion-android-time"></i>Prayer Times</ion-item>
      <ion-item class="positive" id="prayerTimes-list-item32">
        <div id="Date1" style="font-size:19px;">26 Sept 2016
          <br>
          <br>
        </div>
        <div class="prayerTimming">
          <ul>
            <li class="fajr">
              <span>Fajr</span>
              <strong>________04:47</strong>
            </li>
            <li class="shuruq">
              <span>SHURUQ</span>
              <strong>___06:07</strong>
            </li>
            <li class="duhr">
              <span>Duhr</span>
              <strong>_______12:19</strong>
            </li>
            <li class="asr">
              <span>ASR</span>
              <strong>_______15:44</strong>
            </li>
            <li class="magrib">
              <span>Maghrib</span>
              <strong>___ 18:21</strong>
            </li>
            <li class="isha">
              <span>Isha</span>
              <strong>_______ 19:51</strong>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      </ion-item>
      <div class="spacer" style="width: 300px; height: 115px;"></div>
    </div>
    <a ui-sref="ministryOfAwqaf()" id="prayerTimes-button21" class="button button-positive button-small button-block icon ion-android-home"> Home</a>
  </ion-content>
</ion-view>